<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User profile</title>
</head>
<body>
  <ul class="user-list">
    <li class="user-attribute">
      id: {{user.id}}
    </li>
    <li class="user-attribute">
      name: {{user.name}}
    </li>
    <li class="user-attribute">
      email: {{user.email}}
    </li>
  </ul>
</body>
</html>
