<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<title>PersonalityBookClub</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="/" class="navbutton">
					<img src="/img/bookLogo.jpeg" alt="Book Logo" width="80" height="40">
					<img src="/img/mypersonalitytest.jpg" alt="My Personailty Test Logo" width="80" height="40">
				</a>
			</div>
			<div class="col-sm-5">
				<p> </p>
			</div>
			<div class="col-sm-1">
				<a href="/users/login">
					<h4>Log In</h4>
				</a>
			</div>
			<div class="col-sm-1">
				<a href="/users/new">
					<h4>Sign Up</h4>
				</a>
			</div>
		</div>
	</div>
	<div class="container navbar">
		<div class="row">
			<div class="col-sm-3 navmenu">
				<a href="/form" class="navbutton"><h3>Take the test</h3></a>
			</div>
			<div class="col-sm-3 navmenu">
				<a href="/personalities" class="navbutton"><span><h3>Personality types</h3></span></a>
			</div>
			<div class="col-sm-3 navmenu">
				<h3>Members</h3>
			</div>
			<div class="col-sm-3 navmenu">
				<a href="/about" class="navbutton"><span><h3>About</h3></span></a>
			</div>
		</div>
	</div>
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/intj-personality">
					<h3>"ARCHITECT"</h3>
					<h4>INTJ</h4>
					<img src="/img/intj.png" alt="INTJ" width="150" height="150">
					<div class="type-snippet">
						Imaginative and strategic thinkers, with a plan for everything.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/intp-personality">
					<h3>"LOGICIAN"</h3>
					<h4>INTP</h4>	
					<img src="/img/intp.png" alt="INTP" width="150" height="150">
					<div class="type-snippet">
						Innovative inventors with an unquenchable thirst for knowledge.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/entj-personality">
					<h3>"COMMANDER"</h3>
					<h4>ENTJ</h4>
					<img src="/img/entj.png" alt="ENTJ" width="150" height="150">
					<div class="type-snippet">
						Bold, imaginative and strong-willed leaders, always finding a way – or making one.
					</div>

				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/entp-personality">
					<h3>"DEBATER"</h3>
					<h4>ENTP</h4>
					<img src="/img/entp.png" alt="ENTP" width="150" height="150">
					<div class="type-snippet">
						Smart and curious thinkers who cannot resist an intellectual challenge.
					</div>
				</a>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/infj-personality">
					<h3>"ADVOCATE"</h3>
					<h4>INFJ</h4>
					<img src="/img/infj.png" alt="INFJ" width="150" height="150">
					<div class="type-snippet">
						Quiet and mystical, yet very inspiring and tireless idealists.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/infp-personality">
					<h3>"MEDIATOR"</h3>
					<h4>INFP</h4>
					<img src="/img/infp.png" alt="INFP" width="150" height="150">
					<div class="type-snippet">
						Poetic, kind and altruistic people, always eager to help a good cause.
					</div>
				</a>			
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/enfj-personality">
					<h3>"PROTAGONIST"</h3>
					<h4>ENFJ</h4>
					<img src="/img/enfj.png" alt="ENFJ" width="150" height="150">
					<div class="type-snippet">
						Charismatic and inspiring leaders, able to mesmerize their listeners.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/enfp-personality">
					<h3>"CAMPAIGNER"</h3>
					<h4>ENFP</h4>
					<img src="/img/enfp.png" alt="ENFP" width="150" height="150">

					<div class="type-snippet">
						Enthusiastic, creative and sociable free spirits, who can always find a reason to smile.
					</div>
				</a>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/istj-personality">
					<h3>"LOGISTICIAN"</h3>
					<h4>ISTJ</h4>
					<img src="/img/istj.png" alt="ISTJ" width="150" height="150">
					<div class="type-snippet">
						Practical and fact-minded individuals, whose reliability cannot be doubted.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/isfj-personality">
					<h3>"DEFENDER"</h3>
					<h4>ISFJ</h4>
					<img src="/img/isfj.png" alt="ISFJ" width="150" height="150">
					<div class="type-snippet">
						Very dedicated and warm protectors, always ready to defend their loved ones.
					</div>	
				</a>		
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/estj-personality">
					<h3>"EXECUTIVE"</h3>
					<h4>ESTJ</h4>
					<img src="/img/estj.png" alt="ESTJ" width="150" height="150">
					<div class="type-snippet">
						Excellent administrators, unsurpassed at managing things – or people.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/esfj-personality">
					<h3>"CONSUL"</h3>
					<h4>ESFJ</h4>
					<img src="/img/esfj.png" alt="ESFJ" width="150" height="150">
					<div class="type-snippet">
						Extraordinarily caring, social and popular people, always eager to help.
					</div>
				</a>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/istp-personality">
					<h3>"VIRTUOSO"</h3>
					<h4>ISTP</h4>
					<img src="/img/istp.png" alt="ESTP" width="150" height="150">
					<div class="type-snippet">
						Bold and practical experimenters, masters of all kinds of tools.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/isfp-personality">
					<h3>"ADVENTURER"</h3>
					<h4>ISFP</h4>
					<img src="/img/isfp.png" alt="ISFP" width="150" height="150">
					<div class="type-snippet">
						Flexible and charming artists, always ready to explore and experience something new.
					</div>
				</a>		
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/estp-personality">
					<h3>"ENTREPRENEUR"</h3>
					<h4>ESTP</h4>
					<img src="/img/estp.png" alt="ESTP" width="150" height="150">
					<div class="type-snippet">
						Smart, energetic and very perceptive people, who truly enjoy living on the edge.
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.16personalities.com/esfp-personality">
					<h3>"ENTERTAINER"</h3>
					<h4>ESFP</h4>
					<img src="/img/esfp.png" alt="ESFP" width="150" height="150">
					<div class="type-snippet">
						Spontaneous, energetic and enthusiastic people – life is never boring around them.
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>