<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/style.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<title>PersonalityBookClub</title>
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="img/bookLogo.jpeg" alt="Book Logo" width="80" height="40">
				<img src="img/mypersonalitytest.jpg" alt="My Personailty Test Logo" width="80" height="40">
			</div>
			<div class="col-sm-5">
				<p> </p>
			</div>
			<div class="col-sm-1">
				<h4>Log In</h4>
			</div>
		</div>
	</div>
	
	<div class="container navbar">
		<div class="row">
			<div class="col-sm-3">
				<h3>Take the test</h3>
			</div>
			<div class="col-sm-3">
				<h3>Personality types</h3>
			</div>
			<div class="col-sm-3">
				<h3>Members</h3>        
			</div>
			<div class="col-sm-3">
				<h3>Books</h3>        
			</div>
		</div>
	</div>
	<br><br>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>"ARCHITECT"</h3>
				<h4>INTJ</h4>
				<img src="img/intj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Imaginative and strategic thinkers, with a plan for everything.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"LOGICIAN"</h3>
				<h4>INTP</h4>	
				<img src="img/intp.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Innovative inventors with an unquenchable thirst for knowledge.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"COMMANDER"</h3>
				<h4>ENTJ</h4>
				<img src="img/entj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Bold, imaginative and strong-willed leaders, always finding a way – or making one.
				</div>


			</div>
			<div class="col-sm-3">
				<h3>"DEBATER"</h3>
				<h4>ENTP</h4>
				<img src="img/entp.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Smart and curious thinkers who cannot resist an intellectual challenge.
				</div>
			</div>
		</div>
	</div>
	<br>



	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>"ADVOCATE"</h3>
				<h4>INFJ</h4>
				<img src="img/infj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Quiet and mystical, yet very inspiring and tireless idealists.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"MEDIATOR"</h3>
				<h4>INFP</h4>
				<img src="img/infp.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Poetic, kind and altruistic people, always eager to help a good cause.
				</div>			
			</div>
			<div class="col-sm-3">
				<h3>"PROTAGONIST"</h3>
				<h4>ENFJ</h4>
				<img src="img/enfj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Charismatic and inspiring leaders, able to mesmerize their listeners.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"CAMPAIGNER"</h3>
				<h4>ENFP</h4>
				<img src="img/enfp.png" alt="INTJ" width="150" height="150">

				<div class="type-snippet">
					Enthusiastic, creative and sociable free spirits, who can always find a reason to smile.
				</div>
			</div>
		</div>
	</div>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>"LOGISTICIAN"</h3>
				<h4>ISTJ</h4>
				<img src="img/istj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Practical and fact-minded individuals, whose reliability cannot be doubted.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"DEFENDER"</h3>
				<h4>ISFJ</h4>
				<img src="img/isfj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Very dedicated and warm protectors, always ready to defend their loved ones.
				</div>			
			</div>
			<div class="col-sm-3">
				<h3>"EXECUTIVE"</h3>
				<h4>ESTJ</h4>
				<img src="img/estj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Excellent administrators, unsurpassed at managing things – or people.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"CONSUL"</h3>
				<h4>ESFJ</h4>
				<img src="img/esfj.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Extraordinarily caring, social and popular people, always eager to help.
				</div>
			</div>
		</div>
	</div>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>"VIRTUOSO"</h3>
				<h4>ISTP</h4>
				<img src="img/estp.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Bold and practical experimenters, masters of all kinds of tools.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"ADVENTURER"</h3>
				<h4>ISFP</h4>
				<img src="img/esfp.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Flexible and charming artists, always ready to explore and experience something new.
				</div>		
			</div>
			<div class="col-sm-3">
				<h3>"ENTREPRENEUR"</h3>
				<h4>ESTP</h4>
				<img src="img/estp.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Smart, energetic and very perceptive people, who truly enjoy living on the edge.
				</div>
			</div>
			<div class="col-sm-3">
				<h3>"ENTERTAINER"</h3>
				<h4>ESFP</h4>
				<img src="img/esfp.png" alt="INTJ" width="150" height="150">
				<div class="type-snippet">
					Spontaneous, energetic and enthusiastic people – life is never boring around them.
				</div>
			</div>
		</div>
	</div>



</body>
</html>